{% extends "layout.html" %}
{% block title %}
Awareness
{% endblock %}

{% block main %}
<div class="main">

  <!--cards -->
 
 <div class="card">
 
 <div class="image">
    <img src="https://5.imimg.com/data5/SELLER/Default/2021/4/DL/QI/OJ/28050637/dr-trust-usa-elegance-personal-scale-weighing-machine-514.jpg">
 </div>
 <div class="title">
  <h1>Weighing scale</h1>
 </div>
 <div class="des">
  <p>To know how to use check below</p>
 <a href="https://youtu.be/y7tVLNloQlk"><button>Youtube Link</button></a>
 </div>
 </div>
 <!--cards -->
 
 
 <div class="card">
 
 <div class="image">
    <img src="https://m.media-amazon.com/images/I/51uKL93ozzL._AC_UF1000,1000_QL80_.jpg">
 </div>
 <div class="title">
  <h1>Thermometer</h1>
 </div>
 <div class="des">
  <p>To know how to use check below</p>
  <a href="https://youtu.be/ddHf-82N6Qs"><button>Youtube Link</button></a>
 </div>
 </div>
 <!--cards -->
 
 
 <div class="card">
 
 <div class="image">
    <img src="https://m.media-amazon.com/images/I/615r2-7Gw0L.jpg">
 </div>
 <div class="title">
  <h1>Steamer</h1>
 </div>
 <div class="des">
  <p>To know how to use check below</p>
  <a href="https://youtu.be/60tnXKUiLE0"><button>Youtube Link</button></a>
 </div>
 </div>
 <!--cards -->
 
 
 <div class="card">
 
 <div class="image">
    <img src="https://m.media-amazon.com/images/I/61m7xp5l4CL.jpg">
 </div>
 <div class="title">
  <h1>Nebulizer</h1>
 </div>
 <div class="des">
  <p>To know how to use check belowp>
  <a href="https://youtu.be/pEKFKZiLNaA"><button>Youtube Link</button></a>
 </div>
 </div>
 <!--cards -->
 
 
 <div class="card">
 
 <div class="image">
    <img src="https://m.media-amazon.com/images/I/81JcZIx4qJL.jpg">
 </div>
 <div class="title">
  <h1>
 Blood pressure monitor</h1>
 </div>
 <div class="des">
  <p>To know how to use check below</p>
 <a href="https://www.youtube.com/watch?v=RpVifTRmDOQ"><button>Youtube Link</button></a>
 </div>
 </div>
 <!--cards -->
 
 <div class="card">
 
 <div class="image">
    <img src="https://cdn01.pharmeasy.in/dam/products_otc/060754/dr-morepen-bg-03-glucometer-kit-with-25-strips-1-1669634931.jpg">
 </div>
 <div class="title">
  <h1>Glucometer</h1>
 </div>
 <div class="des">
  <p>To know how to use check below</p>
  <a href="https://youtu.be/SQ_h3EVhqfw"><button>Youtube Link</button></a>
 </div>
 </div>
 <!--cards -->
 
 
 <div class="card">
 
     <div class="image">
        <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/XH/WU/IB/6036227/oxi-meter-500x500.jpg">
     </div>
     <div class="title">
      <h1>
     Oximeter</h1>
     </div>
     <div class="des">
     <p>To know how to use check below</p>
     <a href="https://youtu.be/IG5JtXZzUgc"><button>Youtube Link</button></a>
     </div>
     </div>
 
 <!--cards -->
 
 
 <div class="card">
 
     <div class="image">
        <img src="https://cpimg.tistatic.com/06641435/b/4/Insulin-Pen.jpg">
     </div>
     <div class="title">
      <h1>
     Insulin Pen</h1>
     </div>
     <div class="des">
      <p>To know how to use check below</p>
     <a href="https://youtu.be/Ob6TYXo6CxI"><button>Youtube Link</button></a>
     </div>
     </div>
 
 
 
 </div>
 <style type="text/css">


  *{
   margin: 0px;
   padding: 0px;
  }
  body{
   font-family: arial;
  }
  .main{
  
   margin: 2%;
  }
  
  .card{
       width: 20%;
       display: inline-block;
       box-shadow: 2px 2px 20px rgb(181, 179, 212);
       border-radius: 5px; 
       margin: 2%;
      }
  
  .image img{
    width: 100%;
    height:200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: black; 
    box-shadow: 2px 2px 20px rgb(181, 179, 212);
     
  
  }
  
  .title{
   
    text-align: center;
    padding: 10px;
  
    
   }
  
  h1{
    font-size: 20px;
    color:rgb(110, 105, 172) ;
   }
  
  .des{
    padding: 3px;
    text-align: center;
   
    padding-top: 10px;
          border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(110, 105, 172);
    border-radius: 5px;
    padding:10px;
    color:rgb(110, 105, 172) ;
  }
  button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
  
  </style>
  {% endblock %}
