{% extends "layout.html" %}
{% block title %}
Comapines
{% endblock %}

{% block main %}
<div class="container">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/styles/ins.png" alt="Card image cap" height="200px" width="70px">
    <div class="card-body">
      <h5 class="card-title">ShieldCorp Assurance</h5>
      <p class="card-text">ShieldCorp Assurance understands that life is full of uncertainties. That's why we're here to offer you comprehensive protection that spans across every aspect of your life journey.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ratings: 4/5</li>
      <li class="list-group-item">Response: Medium</li>
      <li class="list-group-item">New</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Know More</a>
      <a href="#" class="card-link">Pricing</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/styles/ins2.webp" alt="Card image cap"height="200px" width="70px">
    <div class="card-body">
      <h5 class="card-title">GuardianSafe Insurers</h5>
      <p class="card-text">At GuardianSafe Insurers, we're dedicated to being your steadfast guardians in a world of uncertainties. Our commitment is to provide you with insurance solutions that serve as a protective shield, ensuring your well-being and security. .</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ratings: 4/5</li>
      <li class="list-group-item">Response: Medium</li>
      <li class="list-group-item">New</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Know More</a>
      <a href="#" class="card-link">Pricing</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/styles/ins3.jpeg" alt="Card image cap"height="200px" width="70px">
    <div class="card-body">
      <h5 class="card-title">CoverageMasters Ltd.</h5>
      <p class="card-text">At CoverageMasters Ltd., we believe in mastering the art of coverage to provide you with a comprehensive shield against life's uncertainties. Our insurance solutions are carefully crafted to offer you a safety net that extends across all aspects of your life. .</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ratings: 4/5</li>
      <li class="list-group-item">Response: Medium</li>
      <li class="list-group-item">New</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Know More</a>
      <a href="#" class="card-link">Pricing</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/styles/ins4.jpeg" alt="Card image cap"height="200px" width="70px">
    <div class="card-body">
      <h5 class="card-title">RiskShield Services</h5>
      <p class="card-text">At RiskShield Services, we're here to shield you from life's uncertainties. Our comprehensive insurance solutions are designed to mitigate risks and provide you with a solid safety net. .</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ratings: 4/5</li>
      <li class="list-group-item">Response: Medium</li>
      <li class="list-group-item">New</li>
    <div class="card-body">
      <a href="#" class="card-link">Know More</a>
      <a href="#" class="card-link">Pricing</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/styles/healthins.jpeg" alt="Card image cap" height="200px" width="70px">
    <div class="card-body">
      <h5 class="card-title">InsureWell Corporation</h5>
      <p class="card-text">At InsureWell Corporation, our mission is to ensure your well-being through comprehensive insurance solutions. We understand that well-being encompasses both physical and financial security.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ratings: 4/5</li>
      <li class="list-group-item">Response: Medium</li>
      <li class="list-group-item">New</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Know More</a>
      <a href="#" class="card-link">Pricing</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/styles/ins5.jpeg" alt="Card image cap" height="200px" width="70px">
    <div class="card-body">
      <h5 class="card-title">SafetyFirst Insure</h5>
      <p class="card-text">"At SafetyFirst Insure, safety is our top priority. We believe that being cautious doesn't mean you have to sacrifice freedom. Our insurance solutions are designed to prioritize safety without compromising your lifestyle.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ratings: 4/5</li>
      <li class="list-group-item">Response: Medium</li>
      <li class="list-group-item">New</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Know More</a>
      <a href="#" class="card-link">Pricing</a>
    </div>
  </div>
</div>
<style>
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .card{
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }
</style>
  {% endblock %}